.DS_Store
/target
/data
/docs
/dist
/node_modules
/.chunkhound
data_cached
data_generated
/coverage
autoeq_*.html
autoeq_*.png
/*.csv
/*.html
bugs.md
mutants.out
*~
.*~
*#
.#*
src/unused.rs
.idea
.qwen
TAGS
ETAGS
CTAGS

# Logs
logs
*.log
/*.csv
/*.wav

# Editor directories and files
/.vs
.vscode/*
!.vscode/*.json
/.idea
/.fleet
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
