<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>

    <key>CFBundleExecutable</key>
    <string>sotf_driver</string>

    <key>CFBundleIdentifier</key>
    <string>org.spinorama.sotf-driver</string>

    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>

    <key>CFBundleName</key>
    <string>SotF HAL</string>

    <key>CFBundlePackageType</key>
    <string>drvr</string>

    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>

    <key>CFBundleSignature</key>
    <string>????</string>

    <key>CFBundleVersion</key>
    <string>1</string>

    <key>CFPlugInDynamicRegisterFunction</key>
    <string></string>

    <key>CFPlugInDynamicRegistration</key>
    <string>NO</string>

    <key>CFPlugInFactories</key>
    <dict>
        <key>00000000-0000-0000-0000-000000000001</key>
        <string>AudioDriverPlugInFactory</string>
    </dict>

    <key>CFPlugInTypes</key>
    <dict>
        <key>FBC16C0B-8A0D-11D4-91F0-0050E4C10664</key>
        <array>
            <string>00000000-0000-0000-0000-000000000001</string>
        </array>
    </dict>

    <key>SotFHalPlugIn</key>
    <dict>
        <key>Name</key>
        <string>SotFHal</string>

        <key>Manufacturer</key>
        <string>Pierre F. Aubert</string>

        <key>Version</key>
        <string>1.0.1</string>
    </dict>

    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2025 Pierre F. Aubert pierre@spinorama.org  All rights reserved.</string>

    <key>OSBundleLibraries</key>
    <dict>
        <key>com.apple.CoreAudio</key>
        <string>1.0</string>
    </dict>
</dict>
</plist>
